<ul role="list" class="p-6 divide-y divide-slate-200">
    {% for product in this.getProducts() %}
        <li class="flex py-4 first:pt-0 last:pb-0 odd:bg-white even:bg-slate-50">
            <img class="h-10 w-10 rounded-full"
                 src="{{ product['product-img'] }}"
                 alt="{{ product['product-description'] }}"/>
            <div class="ml-3 overflow-hidden">
                <p class="text-sm font-medium text-slate-900">{{ product['product-name'] }}</p>
                <p class="text-sm text-slate-500 truncate">{{ product['product-description'] }}</p>
            </div>
        </li>
    {% endfor %}
</ul>

<a href="#"
   class="group block max-w-xs mx-auto rounded-lg p-6 bg-white ring-1 ring-slate-900/5 shadow-lg space-y-3 hover:bg-sky-500 hover:ring-sky-500">
    <div class="flex items-center space-x-3">
        <svg class="h-6 w-6 stroke-sky-500 group-hover:stroke-white" fill="none" viewBox="0 0 24 24"><!-- ... --></svg>
        <h3 class="text-slate-900 group-hover:text-white text-sm font-semibold">New project</h3>
    </div>
    <p class="text-slate-500 group-hover:text-white text-sm">Create a new project from a variety of starting
        templates.</p>
</a>
